<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="30">
    <title>Healthcheck Dashboard</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="container">
        <h1>Healthcheck Dashboard</h1>
        <p>Aktualizováno každou minutu</p>
        <table>
            {% if data %}
                <tr>
                    {% for header in data[0].keys() %}
                        <th>{{ header }}</th>
                    {% endfor %}
                </tr>
                {% for row in data %}
                    <tr>
                        {% for value in row.values() %}
                            <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="100%">Žádná data k zobrazení</td>
                </tr>
            {% endif %}
        </table>
    </div>
</body>
</html>
